[submodule "JSON-RPC"]
	path = JSON-RPC
	url = git@github.com:noneback/JSON-RPC.git
[submodule "simplePS"]
	path = simplePS
	url = git@github.com:noneback/simplePS.git
[submodule "mazer"]
	path = mazer
	url = git@github.com:noneback/mazer.git
