[submodule "JSON-RPC"]
	path = JSON-RPC
	url = git@github.com:noneback/JSON-RPC.git
[submodule "simplePS"]
	path = simplePS
	url = git@github.com:noneback/simplePS.git
[submodule "mazer"]
	path = mazer
	url = git@github.com:noneback/mazer.git
[submodule "SimplifiedTouTiaoSearch"]
	path = SimplifiedTouTiaoSearch
	url = git@github.com:noneback/SimplifiedTouTiaoSearch.git
[submodule "QRFT"]
	path = QRFT
	url = git@github.com:noneback/QRFT.git
[submodule "MarkdownEditor"]
	path = MarkdownEditor
	url = git@github.com:noneback/MarkdownEditor.git
